<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Email</title>
    <link rel="stylesheet" href="https://unpkg.com/@primer/css/dist/primer.css">
</head>
<body class="bg-gray-light d-flex flex-column flex-justify-center flex-items-center height-full">
    <div class="Box p-4 mt-6">
        <h2 class="text-center">Введите код из Email</h2>
        <form method="post">
            <label class="form-label">Код</label>
            <input type="text" name="code" class="form-control" required>

            <button type="submit" class="btn btn-primary btn-block mt-3">Подтвердить</button>
        </form>
    </div>
</body>
</html>
