<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать, {{ session['user'] }}!</h1>
        <img src="{{ url_for('static', filename='pic1.png') }}" alt="Изображение">
        <br>
        <a href="{{ url_for('logout') }}">Выйти</a>
    </div>
</body>
</html>
